---
interface Props {
    label: string
    id:string
    clase?:string
}

const { label, id, clase="" } = Astro.props
---

<label>
    {label}
    <input type="text" id={id} class={clase} >
</label>


<style>
    label{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        gap: 2px;
        width: auto;
    }
    input{
        padding: 5px;
        border-radius: 8px;
    }
</style>